* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: flex-end;
}

.nav-container {
        width: 150px;
    margin: 15px 25px 15px 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.elm {
    border: 1px solid cyan;
}

.top-image {
    background-color: purple;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 200px;
}
.bar {
    display: flex;
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}
.voice-logo {
    width: 15px;
    height: 35px;
    margin-top: 5px;
    margin-left: 40px;
}
.bar:hover{
    box-shadow: 1px 1px 8px 1px;
}

.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-bar {
    height: 45px;
    width: 500px;
    border: none;
    outline: none;
}
.buttons {
    margin: 20px auto;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.g-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
}
.g-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.l-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
}

.l-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
footer {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    line-height: 40px;
    width: 100%;
    border-top: 1px solid #dadce0;
}

.contact ul {
    border-top: 1px solid #dadce0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
}